@model Wardrobe.Data.Cloths
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "Create"; }
<
<h1>Dodaj Uberanie</h1>


<div>
    <div>
        <div class="col-md-4" style="float:none;margin:auto;">
            <div style="text-align:center">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Nazwa Ubrania</label>
                        <input maxlength="30" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Opis Ubrania</label>
                        <input maxlength="100" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="visibility:hidden; display:none; ">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" value="@User.Identity.Name" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rodzaj Ubrania</label>
                        <select asp-for="KindId" class="form-control" asp-items="ViewBag.KindId"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kolor Ubrania</label>
                        <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Czy przedmiot jest na sprzedaż ? Tak/Nie</label>
                        <select asp-for="SelId" class="form-control" asp-items="ViewBag.SelId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" accept="image/*" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Data</label>
                        <input asp-for="CreatedOn" class="form-control" />
                        <span asp-validation-for="CreatedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p>
    @ViewBag.Id
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
