@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<div class="col-md-10 offset-md-1">
        <div class="login-form-icon">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>
        </div>
        <form style="text-align:center" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 style="text-align:center" >Utwórz nowe konto.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="text-align:center" class="form-group">
                <label>Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="text-align:center" class="form-group">
                <label>Hasło</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div style="text-align:center" class="form-group">
                <label>Potwierdź Hasło</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button style="text-align:center" type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    input {
        text-align: center;
    }
</style>