


<script>
    var i = 0;
    function change() {
        var bac = document.getElementById("prostokat");
        var color = ["black", "yellow", "purple", "green"];
        bac.style.backgroundColor = color[i];
        i = (i + 1) % color.length;
    }
    setInterval(change, 3000);
</script>
<div id="prostokat">Hej LIBAN</div>